body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: -20px;
    height: 100%;
    font-size: 16px;
    line-height: 1.8em;
    color: #666;
    overflow-x: hidden;

}

.topSection {
    background: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg);
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
}

.mainHeading{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    color: #000;
    letter-spacing: 8px;
    

}
.border{
    background-color: #000;
    color: white;
    padding: 20px;
}
.sectionOne,.sectionTwo ,.sectionThree{
    text-align: center;
    background-color: #f4f4f4;
    padding: 50px 80px;
}
.sectionTwo ,.sectionThree{
    text-align: center;
    background-color: #000;
    padding: 50px 80px;
    color: white;
}

.img2{
    background: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image2.jpg);
    min-height: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;


}
.trans {
    background-color: transparent;
    color: white;
}

.img3{
    background: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image3.jpg);
    min-height: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
}
.img4 {
    background: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg);
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover; 
}